html{
    scroll-behavior: smooth;
}

body{
    background-color: #E1E1E1;
}

nav{
    padding: 16px 56px;
    display: flex;
    justify-content: flex-end;
    height: 0px;    
    min-width: 1136px;
    position: fixed;
    align-items: center; 
    background-color: #e1e1e180;
    top: 0;
}

.header{
    background-color: #E1E1E1;
    padding-bottom: 32px;
}

#about{
    background-color: #9FBFCE;
    padding-bottom: 105px;
    border-radius: 32px;
}

li{
    display: inline; 
    padding: 0px 32px;
    font-family: 'Jost', Times, serif;
}

ul{
    padding: 0;
    margin: 0;
}

li :hover{
    text-decoration: underline;
}

button{
    text-decoration: none;
    font-weight: bold;
    color: #FFFAFA;
    background-color: #3566A5;
    padding: 6px 28px;
    border: 1px aqua solid;
    cursor:pointer;
    border-radius: 8px;
    transition: 0.3s ease-out;
}

.contact :hover{
    color: #1982BA;
    background-color: #FFFAFA;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #1982BA;
}

.hello{
    padding-top: 80px;
}
 
.banner{
    margin-left: 580px;
    margin-right: 160px;
}

.photo{
    padding-top: 60px;
    padding-left: 160px;
    float: left;
    width: 306px;
    height: 362px;
}

.skill{
    margin-left: 160px;
    margin-right: 160px;
}

.skill footer{
    padding-bottom: 86px;
}

#mywork{
    margin-top: 610px;
    padding-top: 32px;
    background-color: #B3C4CD;
    border-radius: 32px;
}

.mywork{
    margin-left: 160px;
    margin-right: 160px;
}

.mywork h1{
    text-align: center;
    text-decoration: underline;
}

.mywork article{
    display:inline-block;
    background-color: #D9D9D9;
    padding: 10px;
    margin-bottom: 80px;
    margin-right: 16px;
    margin-left: 16px;
    justify-content: center;
}

.contactme{
    background-color: #356075;
    padding-top: 16px;
    padding-bottom: 32px;
    border-radius: 32px;
}

.contactme h1{
    margin-left: 295px;
    margin-right: 295px;   
    text-align: center;
    color: white;
    border-top: white solid;
    border-bottom: white solid;
    padding-top: 16px;
    padding-bottom: 16px;
}

.note{
    margin-left: 48px;
    margin-right: 48px;
    background-color:#D9D9D9; 
    border: 2px #C58E8E solid;
    border-radius: 42px;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

.header_contact{
    font-style: italic;
    text-decoration: underline;
}

.footer{
    padding-left: 32px;
}

.a{    
    display: table-cell; 
    padding: 0px 88px 0px 0px; 
    text-align: center;
    line-height: 16px;
}

.container{
    margin-top: -26px;
}

.contact a{
    color: #FFFAFA;
}

.vector{
    float: left;
}


.skill h1{
    padding-top: 32px;
    text-align: center;
    text-decoration: underline;
}

.skill article{
    display: table-cell;
    width:50%;
    height: 50%;
    float:left;
    padding-top: 60px;
}

h3{
    height: 34px;
    width: 213px;
    padding-left: 80px;
}

#about p{
    text-align:start;
    padding-right: 60px;
    line-height: 16px;
    text-align: justify;
}

.webdeveloper{
    color: #1982BA;
    font-style: italic;
}

