html{
    scroll-behavior: smooth;
}

body{
    background-color: #E1E1E1;
}
nav{
    padding: 16px 56px;
    display: flex;
    justify-content: flex-end;
    height: 0px;    
    min-width: 1136px;
    position: sticky;
    align-items: center; 
}

.header{
    background-color: #E1E1E1;
    border-bottom: black solid 2px;
    padding-bottom: 16px;
}

#about{
    background-color: #9FBFCE;
    padding-bottom: 105px;
}

li{
    display: inline; 
    padding: 0px 32px;
    font-family: 'Jost', Times, serif;
}

li :hover{
    text-decoration: underline;
}

button{
    text-decoration: none;
    font-weight: bold;
    color: #FFFAFA;
    background-color: #3566A5;
    padding: 6px 28px;
    border: 1px aqua solid;
    cursor:pointer;
    border-radius: 32px;
    transition: 0.3s ease-out;
}

.contact :hover{
    color: #1982BA;
    background-color: #FFFAFA;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #1982BA;
}

.hello{
    padding-top: 80px;
}
 
.banner{
    margin-left: 580px;
    margin-right: 160px;
}

.photo{
    padding-top: 60px;
    padding-left: 160px;
    float: left;
    width: 306px;
    height: 362px;
}

.skill{
    margin-left: 160px;
    margin-right: 160px;
}

#mywork{
    margin-top: 610px;
    background-color: #B3C4CD;
}

.a{    
    display: table-cell; 
    padding: 0px 88px 0px 0px; 
    text-align: center;
    line-height: 16px;
}

.container{
    margin-top: -22px;
}



.contact a{
    color: #FFFAFA;
}

.vector{
    float: left;

}

.skill_mywork h1{
    text-align: center;
    text-decoration: underline;
}



.skill article{
    display: table-cell;
    width:50%;
    height: 50%;
    float:left;
    padding-top: 60px;
}

h3{
    height: 34px;
    width: 213px;
    padding-left: 80px;
}

p{
    text-align:start;
    padding-right: 60px;
    line-height: 16px;
    text-align: justify;
}

.webdeveloper{
    color: #1982BA;
    font-style: italic;
}

